.idea/
.vscode/
/docs
/rosa
/rosa-darwin-amd64
/rosa-darwin-amd64.sha256
/rosa-linux-amd64
/rosa-linux-amd64.sha256
/rosa-windows-amd64.exe
/rosa-windows-amd64.sha256
/rosa-darwin-arm64
/rosa-darwin-arm64.sha256
/rosa-linux-arm64
/rosa-linux-arm64.sha256
/*policy.json
/tests/output
.envrc
.env
cover.out
/temp
dist/
# for VS Code debug sessions
**/__debug_bin*
**/ginkgo.report
.history/